<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
<body>
<div class="w3-container">

<label class="w3-label w3-validate">You rated this restaurant successfully!!!</label>
<br>
<a href="/display?_id=<%= doc._id %>">
  <button class="w3-btn w3-section w3-teal w3-ripple">View the scores</button>
</a>
</div>
</body>
</html>
